h6 {
  text-align: center;
}

h6:after {
  display: block;
  height: 2px;
  background-color: #3498db;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

ul {
  padding: 0;
  list-style: none;
}
